
<div class="grid-content">
  <h4 class="text-center">Baseline
    <select ng-model="Ctrl.table.base">
      <option id="Products" type="checkbox" ng-value="products">products</option>
      <option id="Orders" type="checkbox" ng-value="orders">orders </option>
      <option id="Customers" type="checkbox" ng-value="customers">customers</option>
      <option id="Employees" type="checkbox" ng-value="employees">employees </option>
      <option id="Suppliers" type="checkbox" ng-value="suppliers">supplie</option>
    </select>
  </h4>
  <h4 class="text-center">Join
    <select ng-model="Ctrl.table.join">
      <option id="Products" type="checkbox" ng-value="products">product </option>
      <option id="Orders" type="checkbox" ng-value="orders">orders </option>
      <option id="Customers" type="checkbox" ng-value="customers">customers </option>
      <option id="Employees" type="checkbox" ng-value="employees">employees </option>
      <option id="Suppliers" type="checkbox" ng-value="suppliers">supplie</option>
    </select>
    <button type="submit" ng-click="Ctrl.submit(Ctrl.table)">search</button>
  </h4>
  
  
  
  
  
</div>