
<div class="grid-content align-center">
  <h4 class="text-center">Look For
    <label>Select
      <select name="" id="">
        <option ng-value="Product" ng-model="Ctrl.value">Product</option>
        <option ng-value="Orders" ng-model="Ctrl.value">Orders</option>
        <option ng-value="Customers" ng-model="Ctrl.value">Customers</option>
        <option ng-value="Employees" ng-model="Ctrl.value">Employees</option>
      </select>
      <button ng-click="Ctrl.getTables()">Get Table</button>
    </label>
  </h4>
  
  
  
  
  
</div>