
<div class="grid-block">
  <div class="card"><img ng-src="{{bundle.image}}"/>
    <div ng-if="currentUser" class="userCheck">
      <div ng-show="!isSubscribed()" class="subscribe">
        <button ng-click="subscribe"><i class="fi-star size-24"></i></button>
      </div>
      <div ng-show="isSubscribed()" class="subscribe">
        <button ng-click="unsubscribe()"><i class="fi-minus size-24"></i></button>
      </div>
      <div ng-show="!currentUser" class="currentUser"><a ui-sref="/login">Login to Subscribe</a></div>
    </div>
    <div class="card-divider">{{bundle.tite}}</div>
  </div>
</div>