
<div class="row">
  <div class="bundleRepeater col-lg-4">
    <div ng-repeat="(id, titles) in newSection.sName" class="panel-group">
      <div class="panel panel-default panelRepeater">
        <div class="panel-heading">
          <h4 class="panel-title"><a editable-text="titles.section_title" onaftersave="newSection.editSectionName(id, titles.section_title)" buttons="no">{{titles.section_title}}</a>
            <div class="div"></div>
          </h4>
        </div>
        <div class="list-group"><a ui-sref="sectionDash.newSection.modal({sId: id, bId: bId})" ng-repeat="(bId, url) in titles.context" class="list-group-item">{{url.content_title}}</a>
          <div class="newContent input-group">
            <input id="newTitle" placeholder="context title" ng-model="titles.context.content_title" class="form-control list-group-item input-sm"/>
            <input id="newURL" placeholder="context url" ng-model="titles.context.content_url" class="form-control list-group-item input-sm"/>
            <div class="input-group-btn">
              <button id="datbutton" ng-click="newSection.nContext(id, titles.context.content_title, titles.context.content_url)" class="btn btn-default btn-xs pull-right">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>