
<div class="grid-block">
  <div class="grid-container">
    <h3 class="text-center">Sign up</h3>
    <form method="post" ng-submit="signup()" name="signupForm">
      <label>Email
        <input type="email" ng-model="email" placeholder="enter your email" name="email" required="required" autofocus="autofocus"/>
        <div ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error" class="validation">
          <div ng-message="required" class="message">Try again, your email address is invalid</div>
        </div>
      </label>
      <label>Password
        <input type="password" ng-model="password" placeholder="password" name="password" required="required"/>
        <div ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error" class="validation">
          <div ng-message="required" class="message">You masterful blackhat! We do need a password though...</div>
        </div>
      </label>
      <label>Password
        <input type="password" ng-model="confirmPassword" placeholder="confirmPassword" name="confirmpassword" confirm-password="password" ng-class="{ 'success' : signupForm.confirmPassword.$valid &amp;&amp; signupForm.confirmPassword.$dirty, 'warning' : signupForm.confirmPassword.$invalid &amp;&amp; signupForm.confirmPassword.$dirty }" required="required"/>
        <div ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error" class="validation">
          <div ng-message="required" class="message">Common, it's for your own saftey</div>
          <div ng-message="repeat" class="message">Slow down, try to get them the same next time</div>
        </div>
        <button type="submit" ng-disabled="signupForm.$invalid" class="button-auth expand">Create account</button>
      </label>
    </form>
  </div>
</div>