.grid-block
	.grid-content.align-left
		.button(type="button" ng-click="openModal()")
			i.fi-plus
	.grid-content.align-center
		h4 Hello {{currentUser.email}}

div(masonry)
	.masonry-brick
		img(ng-src="http://amzwall.com/wp-content/uploads/2015/02/Space-Picture-Desktop.jpg")



