.row
	.bundleRepeater.col-lg-4
		.panel-group(ng-repeat="(id, titles) in bundleDash.bunName")
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(id="panelheader" editable-text="titles.bun_title" onaftersave="bundleDash.editBunName(id, titles.bun_title)" buttons="no") {{titles.bun_title}}
						a(ui-sref="sectionDash.data({bKey: id})" class="glyphicon glyphicon-option-vertical" class="icon-arrow-right pull-right")
				div(id="collapseOne" class="panel-collapse collapse in")
					.list-group
						.list-group-item(ng-repeat="section in titles.content") {{section.section_title}}
