.grid-content.align-center

	h4.text-center Look For
		label Select
			select(name="" id="")
				option(ng-value="Product" ng-model="Ctrl.value") Product
				option(ng-value="Orders" ng-model="Ctrl.value") Orders
				option(ng-value="Customers" ng-model="Ctrl.value") Customers
				option(ng-value="Employees" ng-model="Ctrl.value") Employees
			button(ng-click="Ctrl.getTables()") Get Table

	//- form(type="submit" method="GET" ng-submit="Ctrl.getTables()")
	//- 	label(name="topTable" id="" ng-repeat="table in Ctrl.table.baseline")
	//- 		input(ng-model="Ctrl.value" ng-value="table" name="topTable"  ng-model-options="{ getterSetter: true }" ng-true-value="table" ng-bind="Ctrl.value.table()")  {{table}}  
	//- 	button.button-auth.expand(type="submit")
	//- 	label {{Ctrl.value}}


	//- table
	//- 	tbody
	//- 		tr
	//- 			th Product Name
	//- 			th Quantity Per Unit
	//- 			th Unit Price
	//- 			th Units In Stock
	//- 		tr(ng-repeat="products in Ctrl.products")
	//- 			td {{products.ProductName}}
	//- 			td {{products.QuantityPerUnit}}
	//- 			td {{products.UnitPrice}}
	//- 			td {{products.UnitsInStock}}





