.grid-content
	h5.text-center Baseline
		select(ng-model="Ctrl.table.base")
			option(ng-repeat="table in Ctrl.dbHeaders.base" ng-value="table") {{table}}
	h5.text-center Join Tables
		select(ng-model="Ctrl.table.join")
			option(ng-repeat="joinTable in Ctrl.dbHeaders.base" type="checkbox"  ng-value="joinTable") {{joinTable}}
		button(type="submit" ng-click="Ctrl.submit(Ctrl.table)") search

	//- .grid(ui-grid="gridOptions" ui-grid-importer class="grid")


	//- form(type="submit" method="GET" ng-submit="Ctrl.getTables()")
	//- 	label(name="topTable" 
		#(ng	id"" ng-repeat="table in Ctrl.table.base(label(for="(ng") ng: line")odel="Ctrl.value" ng-value="table" name="topTable"  ng-model-options="{ getterSetter: true }" ng-true-value="table" ng-bind="Ctrl.value.table()")  {{table}}  
	//- 	button.button-auth.expand(type="submit")
	//- 	label {{Ctrl.value}}


	//- table
	//- 	tbody
	//- 		tr
	//- 			th Product Name
	//- 			th Quantity Per Unit
	//- 			th Unit Price
	//- 			th Units In Stock
	//- 		tr(ng-repeat="products in Ctrl.products")
	//- 			td {{products.ProductName}}
	//- 			td {{products.QuantityPerUnit}}
	//- 			td {{products.UnitPrice}}
	//- 			td {{products.UnitsInStock}}





