.grid-content
	h4.text-center Baseline
		select(ng-model="Ctrl.table.base")
			option#Products(type="checkbox"  ng-value="products") products
			option#Orders(type="checkbox"  ng-value="orders") orders 
			option#Customers(type="checkbox"  ng-value="customers") customers
			option#Employees(type="checkbox"  ng-value="employees") employees 
			option#Suppliers(type="checkbox"  ng-value="suppliers") supplie
	h4.text-center Join
		select(ng-model="Ctrl.table.join")
			option#Products(type="checkbox"  ng-value="products") product 
			option#Orders(type="checkbox"  ng-value="orders") orders 
			option#Customers(type="checkbox"  ng-value="customers") customers 
			option#Employees(type="checkbox"  ng-value="employees") employees 
			option#Suppliers(type="checkbox"  ng-value="suppliers") supplie
		button(type="submit" ng-click="Ctrl.submit(Ctrl.table)") search


	//- form(type="submit" method="GET" ng-submit="Ctrl.getTables()")
	//- 	label(name="topTable" 
		#(ng	id"" ng-repeat="table in Ctrl.table.base(label(for="(ng") ng: line")odel="Ctrl.value" ng-value="table" name="topTable"  ng-model-options="{ getterSetter: true }" ng-true-value="table" ng-bind="Ctrl.value.table()")  {{table}}  
	//- 	button.button-auth.expand(type="submit")
	//- 	label {{Ctrl.value}}


	//- table
	//- 	tbody
	//- 		tr
	//- 			th Product Name
	//- 			th Quantity Per Unit
	//- 			th Unit Price
	//- 			th Units In Stock
	//- 		tr(ng-repeat="products in Ctrl.products")
	//- 			td {{products.ProductName}}
	//- 			td {{products.QuantityPerUnit}}
	//- 			td {{products.UnitPrice}}
	//- 			td {{products.UnitsInStock}}





