.grid-content
	div(masonry)
		.masonry-brick(ng-repeat="bundle in bundles")
			.card
				img(ng-src="{{bundle.ogImg}}")
				.card-divider
					{{bundle.userTitle}}
					.card-section
						h5 {{bundle.title}}
						p {{bundle.description}}
					.card-hidden
						.card-icons
							a(href="{{bundle.url}}")
								i.fi-.fi-arrow-right.size-30
							a(href="")
								i.fi-bookmark.size-30
							a(href="#" )
								i.fi-link.size-30
							a(method="get" ng-click="delete(bundle._id)")
								i.fi-trash.size-30
							a(href="#")
								i.fi-widget.size-30





//- .grid-block
//- 	.card
//- 		img(ng-src="{{bundle.image}}")
//- 		.userCheck(ng-if="currentUser")
//- 			.subscribe(ng-show="!isSubscribed()")
//- 				a(href="#" ng-click="subscribe")
//- 					i.fi-star.size-24
//- 			.subscribe(ng-show="isSubscribed()")
//- 				button(ng-click="unsubscribe()")
//- 					i.fi-minus.size-24
//- 			.currentUser(ng-show="!currentUser")
//- 				a(ui-sref="/login") Login to Subscribe
//- 		.card-divider
//- 			{{bundle.tite}}