.grid-block
	.card
		img(ng-src="{{bundle.image}}")
		.userCheck(ng-if="currentUser")
			.subscribe(ng-show="!isSubscribed()")
				button(ng-click="subscribe")
					i.fi-star.size-24
			.subscribe(ng-show="isSubscribed()")
				button(ng-click="unsubscribe()")
					i.fi-minus.size-24
			.currentUser(ng-show="!currentUser")
				a(ui-sref="/login") Login to Subscribe
		.card-divider
			{{bundle.tite}}

