.grid-block
	.menu-top
		.menu-group.dark
			.menu-group-left
				ul.dark.menu-bar
					li: a(ui-sref="#") 
					li: a(ui-sref="start.dash") Home
					li: a(ui-sref="#") Add
			.menu-group-right
				ul.dark.menu-bar
					li: a(ui-sref="#") Login
					li: a(ui-sref="#") Sign up