.row
		h4 {{newSection.bName.bun_title}}
	.row
		form.input-group
			.input-group-btn
					button.btn.btn-default(class='btn' ng-click="newSection.nSec()") New Section
			input.form-control(type="text", placeholder="section title", ng-model="bundle.section")