.row
	.bundleRepeater.col-lg-4
		.panel-group(ng-repeat="(id, titles) in newSection.sName")
			.panel.panel-default.panelRepeater
				.panel-heading
					h4.panel-title
						a(editable-text="titles.section_title" onaftersave="newSection.editSectionName(id, titles.section_title)" buttons="no") {{titles.section_title}}
						.div
				.list-group
					a.list-group-item(ui-sref="sectionDash.newSection.modal({sId: id, bId: bId})" ng-repeat="(bId, url) in titles.context") {{url.content_title}}
					.newContent.input-group
						input.form-control.list-group-item.input-sm(id="newTitle" placeholder="context title", ng-model="titles.context.content_title")
						input.form-control.list-group-item.input-sm(id="newURL" placeholder="context url", ng-model="titles.context.content_url" ) 
						.input-group-btn
							button.btn.btn-default.btn-xs.pull-right(id="datbutton" ng-click="newSection.nContext(id, titles.context.content_title, titles.context.content_url)") Submit