doctype html
html(lang='en-US' ng-app="capstone")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Bundler
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='css/main.css')
  body
    ui-view

  script(src='lib/build.js')
  script(src='js/main.config.js')
  script(src='js/bDash.controller.js')


