doctype html
html(lang='en-US' ng-app="Northwind")
  head
    base(href="/")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Northwind

    link(rel='stylesheet', href='lib/build.css')
    link(rel="stylesheet" href="lib/foundation-icons/foundation-icons.css")
    link(rel='stylesheet', href='css/main.css')

  body
    .menu-top
      .menu-group.dark
        .menu-group-left
          ul.dark.menu-bar
            li: a(href="#" zf-open="leftPanel") Menu
            li: a(ui-sref="start.dash") Home



    ui-view.grid-frame

  script(src='lib/build.js')
  script(src='js/main.config.js')
  script(src='js/dashboard.controller.js')
  script(src='js/main.factory.js')




