doctype html
html(lang='en-US' ng-app="FFF")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title FFF
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='lib/build.css')

  body
    ui-view

  script(src='lib/build.js')
  script(src='js/main.config.js')
  script(src='js/featureController.js')
  script $(document).foundation();

