doctype html
html(lang='en-US' ng-app="capstone")
  head
    base(href="/")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Bundler
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='css/main.css')
  body
      .menu-top(ng-controller="loginCtrl")
        .menu-group.dark
          .menu-group-left
            ul.dark.menu-bar
              li: a(ui-sref="#") 
              li: a(ui-sref="start.dash") Home
              li: a(ui-sref="modal") Add
          .menu-group-right
            ul.dark.menu-bar
              li: a(ui-sref="login") Login
              li: a(ui-sref="signup") Sign up
              li: a(href="javascript:void(0)" method="get" ng-click="logout()") Logout

    ui-view.grid-frame
  //- vendor compiled scripts
  script(src='lib/build.js')
  //- front end scripts
  script(src='js/main.config.js')
  script(src='js/bDash.controller.js')
  script(src='js/auth.controller.js')
  script(src='js/confirmPassword.js')
  script(src='js/auth.controller.js')
  script(src='js/main.factory.js')



